@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Сава Станимиров Димитров, Курс:3 ASP.NET MVC</h1>
    <p class="lead">В хоста се намира проекта по ASP програмиране спрямо изискванияте за проекта</p>
    <ul>
        <li>Зареждане на XML файл от файловата система и последователна обработка: валидация и запазване в базата от данни</li>
        <li>Форма по модела на html в която да се въведат данните, които да се валидират, преобразуват в XML и запазят в базата от данни</li>
    </ul>
</div>
